{% schema %}
{
  "name": "PDP Item Number",
  "class": "section-flwr-pdp_item_number",
  "settings": [
    {
        "type": "text",
        "id": "flwr_footer_header",
        "label": "Footer Header"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Footer Block",
      "settings": [
        {
          "type": "text",
          "id": "flwr_footer_block_header",
          "label": "Footer Block Header",
          "default": "Header"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PDP Item Number",
      "category": "CUSTOM",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}

{% if product.metafields['pdp']['item_number'] != blank %}
  <div class="flwr_item_number">
    <p> {{ product.metafields['pdp']['item_number'] }} </p>
  </div>
{% endif %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

