html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.header.page-width {
    max-width: 100%;
}

#shopify-section-header {
    position: fixed;
    width: 100%;
}

.content-for-layout {
  margin-top: 61px;
}


@media screen and (min-width: 990px) {
  .header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


.card__heading.h5 {
 font-size: 1em !important; 
  font-family: 'Alegreya Sans';
}

.section-flwr-custom-footer {
  background: #222;
  color: white;
}

#cart-icon-bubble {
    display: block;
    transform: translateY(3px);
}
.collage {
    opacity: 0;
    position: relative;
    bottom: -200px;
}
.collage.flwr_show {
    opacity: 1;
    bottom: 0px;
    transition: all 0.8s linear 0.4s;
}
.floating_phone {
    position: fixed;
    bottom: 10vH;
    right: 5vW;
    width: 60px;
    height: 60px;
    background-color: #fa6e12;
    border-radius: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    line-height: 40px;
	transition: transform 1s ease-out;
}
.floating_phone:hover {
    transform: scale(1.25);
  	transition: transform 1s ease-out;
}
.search-modal__form .field {
	position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-width: 8px;
}
.search-modal__form .field::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /*Making the width double the size of the parent since we are going to be animation the transform: translateX() to the left. */
    height: 100%;
    background: linear-gradient(115deg, var(--custom-button-color-primary), var(--custom-button-color-secondary));
    background-size: 50% 100%;
    border-radius: inherit;
    animation: animate_border .75s linear infinite;
}
.search-modal__form .field:focus::before {
    transform: translateX(-50%);
}
.search-modal__form .field__input {
/*      margin: 10px !important; */
    border-radius: 10px !important;
}
.search-modal__form .field__input:focus {
    box-shadow: 0 0 0 0 rgba(var(--color-foreground));
}
.search-modal__form .field::after {
 	box-shadow: 0 0 0 0 black !important; 
}
@keyframes animate_border {
    to {
        transform: translateX(-50%)
    }
}

.quick-add {
  height: 0px; 
  width: 82%;
}
/* shop now button */
.quick-add__submit, .quick-add__submit.button:disabled {
  border-radius: 0px;
  background-color: #FA6D12;
  color: white;
  opacity: 0;
  font-size: 0.8em;
  height: 20px;
  margin: 0px 10% 0px 10%;
}
.quick-add__submit.button:after, .quick-add__submit.button:before {
 box-shadow: none; 
}
.quick-add__submit.show:not(.button:disabled) {
  opacity: 1;
  transform: translateY(calc(-100% - 10px));
/*   transition: transform 0.4s linear; */
  animation: moveup 0.4s linear;
}
.flwr__marquee { 
 animation: flwr__marquee 10s linear infinite;
  white-space: nowrap;
}
.flwr_footer_block_description a.footer_link_policy, .flwr_footer_block_description a.footer_link_policy:hover {
  color: white;
}
@keyframes moveup {
    0% {
      opacity: 0;
      transform: translateY(-40%);
    }  
  	50% {
      opacity: 0.8;
      transform: translateY(-80%);
    }
    100% {
      opacity: 1;
      transform: translateY(calc(-100% - 10px));
    }
}
@keyframes underline_animation_keyframe {
    0% {
      width: 0%;
    }  
  	50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
}
@keyframes flwr__marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-60%);
  }
}
.design_badge {
  animation: infinite-spinning 1s infinite alternate;
}
.design_badge_two {
  animation: infinite-spinning_two 1.3s infinite alternate;
}
.design_badge_three {
  animation: infinite-spinning_three 0.8s infinite alternate;
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 6;
  width: 120px;
  height: 120px;
}
.flwr_hero_button {
  padding: 10px 20px;
  border: 1px solid #222;
  color: #222;
  background: #ffffff;
  border-radius: 0px;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: 400;
}
.flwr_hero_button:hover {
  border: 1px solid #fff;
  color: #fff;
  background: #222;
}
.flwr_hero_button.inverse {
  border: 1px solid #fff;
  color: #fff;
  background: #222;  
}
.flwr_hero_button.inverse:hover {
  border: 1px solid #222;
  color: #222;
  background: #ffffff;
}
.shopify-installments {
  display: none !important; 
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@keyframes infinite-spinning_two {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(50deg);
  }
}
@keyframes infinite-spinning_three {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@media screen and (max-width: 750px) {
    .design_badge_three {
        display: none; 
    }
    .header.page-width {
        max-width: 100%;
    }
}